@model List<Aukcija>

<table style="margin-top: 20px;" class="table table-condensed">
	<thead>
		<tr>
			<th>Article Name</th>
			<th>Article Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Starting Price</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td><a asp-action="Details" asp-route-id="@item.Id">@item.Article.Name</a></td>
				<td>@item.Article.Description</td>
				<td>@item.StartTime.ToString("d")</td>
				<td>@item.EndTime.ToString("d")</td>
				<td>@item.Article.StartingPrice €</td>
				<td>@item.Status</td>
				<td>
					<a asp-action="Bid" asp-route-id="@item.Id">[bid]</a>
				</td>
			</tr>
		}
	</tbody>
</table>